<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="/css/sample.css" type="text/css" media="screen" />
<title>tPay 인터넷결제</title>
</head>
<body>

<%if @is_success_integrity_check %>
<table>
	<th>구분</th>
	<th>데이터</th>
	<tr>
		<td>결과코드</td> 
		<td><%= @result_code%></td>
	</tr>
	<tr>
		<td>결과메세지</td> 
		<td><%= @result_msg%></td>
	</tr>
	<tr>
		<td>취소금액</td> 
		<td><%= @decrypted_amt%></td>
	</tr>
	<tr>
		<td>취소거래ID</td> 
		<td><%= @decrypted_moid%></td>
	</tr>
	<tr>
		<td>결제수단</td> 
		<td><%= @pay_method%></td>
	</tr>
	<tr>
		<td>취소날짜</td> 
		<td><%= @cancel_date%></td>
	</tr>
</table>
<%else%>
	<h1> 데이터가 중간에 위변조 되었습니다. </h1>
<%end%>
</body>
</html>